{% extends 'base-backend.html.twig' %}

{% block title %}Carousel index{% endblock %}

{% block body %}
    <h1>Carousel index</h1>
        <a href="{{ path('app_admin_carousel_new') }}" class="btn btn-dark">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Mise à jour</th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                <td>{{ carousel.id }}</td>
                <td>
                {% if carousel.image is defined and carousel.image is not null %}
                <a href=" {{ asset('images/carousel/' ~ carousel.image)}} " data-lightbox='image-{{loop.index0 }}' data-name="{{carousel.title}}">
                <img src="{{ asset('images/carousel/' ~ carousel.image) }}"  alt"" class="img-list img-fluid"></a>
                {% else %}
                N/A
                {% endif %}
                </td>
                
                </td>
                <td>{{ carousel.title }}</td>
                <td>{{ carousel.text|raw }}</td>
                <td>{{ carousel.updatedAt ? carousel.updatedAt|date('Y-m-d H:i:s') : 'N/A' }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_carousel_show', {'id': carousel.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_carousel_edit', {'id': carousel.id}) }}" class="btn btn-success ms-2"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
