{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.subtitle) }}
    {{ form_row(form.description|raw) }}
    {{ form_row(form.price) }}
    {{ form_row(form.category) }}
    <button class="btn btn-dark" data-collection-holder-class="product-image">Ajouter un produit</button>

    {# <ul
    data-index="{{ form.image|length > 0 ? form.image|last.vars.name + 1 : 0 }}"
    >
    </ul> #}

    {# <button class="btn btn-success">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
{# data-prototype="{{ form_widget(form.image.vars.prototype)|e('html_attr') }}" #}