{% extends 'base.html.twig' %}

{% block content %}

<h1 class="text-center">Inscription</h1>

{% if notification %}
    <div class='alert alert-info'>{{ notification }}</div>
    <hr>
{% endif %}

<div class="block-small">
{{ form(form)}}
</div>

{# <div class="block-small">
{{ form_start(form)}}
{{ form_row(form.firstname)}}
{{ form_row(form.lastname)}}
{{ form_row(form.email)}}
{{ form_row(form.password)}}
{# {{ form_row(form.cgu)}} #}


{{ form_end(form)}}
</div> #}
{% endblock %}
